@model DojoManager.ViewModels.AddAttendanceViewModel

<h2>Add Attendance</h2>

<form asp-action="Create" method="post">

<div>
    <label>Students</label>
    @foreach (var s in Model.Students)
    {
        <div>
            <input type="checkbox" name="StudentIds" value="@s.Id" id="student_@s.Id" />
            <label for="student_@s.Id">@s.Name</label>
        </div>
    }
</div>

    @if (Model.SessionId != 0)
    {
        <input type="hidden" asp-for="SessionId" />
    }
    else
    {
        <select asp-for="SessionId">
            @foreach (var s in Model.Sessions)
            {
                <option value="@s.Id">@s.Date - @s.Location</option>
            }
        </select>
    }

    <button type="submit">Add Attendance</button>
</form>